.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 100%;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  text-align: right;
}
.sidebar .header {
  padding-right: 30px;
}
.sidebar .title {
  margin-bottom: 0px;
}
.sidebar .title a {
  color: #fff;
}
.sidebar .title a:hover {
  color: color-link-sidebar;
}
